#android
.idea
.gradle
local.properties
*.iml

android/app/release/
android/app/app.iml
android/local.properties
android/app/build/
android/app/src/main/assets/Trial_License.slm
android/.DS_Store

#iOS
ios/Build
ios/iPhoneOS.sdk/JRE.framework
ios/iPhoneOS.sdk/SuperMap.framework
ios/Pods
ios/iTablet.xcodeproj/xcuserdata
ios/iTablet.xcworkspace/xcuserdata
#common
node_modules
.vscode
*.DS_Store
imobile_for_reactnative
ios/Podfile.lock
package-lock.json
yarn.lock
*.lock
bundle/
bundles/

